#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
                &kp B     &kp L     &kp D     &kp C     &kp V     &kp J     &kp Y     &kp O     &kp U     &kp COMMA 
                &kp N     &kp R     &kp T     &kp S     &kp G     &kp P     &kp H     &kp A     &kp E     &kp I     
                &kp X     &kp Q     &kp M     &kp W     &kp Z     &kp K     &kp F     &kp APOS  &kp SEMI  &kp DOT   
                                              &kp C     &kp LSHFT &kp SPACE &kp Y                                   
            >;
        };
    };
 };
